@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

/* Hamburger - Edition drop down menu*/
.dropbtn {
  background-color: whitesmoke;
  color: white;
  padding: 70px;
  border: thin;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: darkgray;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(rgba(206, 195, 195, 0.295));
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: seashell;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: seashell;
}

/* Scroll to top */

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

/* Extra Things */

h3 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-top: 50px;
}
h3 i {
  color: #444;
}

/* Hamburger Menu */

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #e2e8f0;
  width: 10%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 45px 0 0 70px;
}

.bar {
  display: block;
  width: 30px;
  height: 5px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.two-column-menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.column-left .nav-link {
  font-size: 1.5rem;
  font-weight: 400;
  color: #000;
}

.column-right .nav-link {
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
}

.column-right {
  background-color: #000;
  padding: 0rem 2rem;
}

.column-left {
  padding: 0 2rem;
}

.nav-link:hover {
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}

.nav-menu {
  position: fixed;
  top: 10rem;
  flex-direction: column;
  background-color: #fff;
  width: 50%;
  border-radius: 10px;
  text-align: left;
  transition: 0.3s;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-item {
  display: none;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.hamburger:active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger:active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger:active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
/* End of Hamburger Menu */

/* Nav bar */

/* logo */
.navbar_image {
  width: 120px;
  overflow: hidden;
  vertical-align: top;
}

.hamburger-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Nav Bar  */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-size: 1.6rem;
}

li {
  display: block;
  margin: 0;
  padding: 45px 0 0px 30px;
}

li.nav-item {
  display: block;
  margin: 0;
  padding: 10px 5px;
}

.header {
  display: flex;
  justify-content: start;
  align-content: center;
  width: 100%;
  height: 100px;
}
